html, body {
    height: 100%;
    margin: 0;
}

/* .leaflet-container {
    height: 800px;
    width: 1200px;
    max-width: 100%;
    max-height: 100%;
} */


div {
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;

    position: relative;
}

.overlay {
    position: absolute;
    width: 300px;
    height: 30%;
    
    background-color: white;
    
    outline-width: 5px;
    outline-color: black;
    outline: solid;

    z-index: 99999999;
}


.addressInput {
    height:15%;
    width: 250px;
    margin: auto;
    margin-top: 15px;
    resize: none;
}

#getRouteBtn {
    position: absolute;
    bottom:20px;
    right:5px;
}

#addressOptions {
    position: absolute;
    top: 28%;

    background-color: white;
    height: fit-content;
    width: 300px;

    outline-width: 5px;
    outline-color: black;
    outline: solid;
    z-index: 99999999;
    border-radius: 0 0 15px 0px;
}

.addressButton {
    white-space: normal;
    word-wrap: break-word;
    /* padding-right: 4em !important; */
}

.addressInput {
    margin-bottom: 5px;
}


#titleBox {
    position: absolute;
    bottom: 3px;
    right: 45px;
    z-index: 99999999;
}


#logo {
    width: 120px;
    height: 120px;
}


/* Took this from here: https://www.w3schools.com/howto/howto_css_loader.asp */
.spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
        
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*
Types of selectors:
    Element - takes HTML elements
    Class - Element based on class attribute
        - when creating an html element, you can add class="class-name"
            - This is only used to distinguish different versions of the same element
            - use period then the name
    ID - an element can only have one ID, and should be unique per element
        - Use #id-name

    Can use ancestors and children
        - put a space between ancestor and child
        - so div p would select all p elements that are in divs
    
    Also an everything selector - applies to every element on the page
    * {
        property: value
    }

    How to Load CSS
        - Inline is the worst, use the style tag in html to give CSS
            - Bad because we intertwine style & html
        - Style element
            - HTML element defined in head like CSS
        - Link to external CSS file
            - <link rel="stylesheet" href="style.css" />
*/